.container {
  display: flex;
  flex-direction: column;
  width: 310px;
  padding: 20px 16px;
  /* height: calc(100vh - 68px); */
  overflow-y: auto;
  overflow-x: hidden;
  gap: 12px;
  border-right: 1px solid var(--OffWhite);
  transition: transform 0.3s;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background: white;
}

.container-hidden {
  transform: translateX(-310px);
}

.container-show {
  transform: translateX(0px);
}

@media screen and (width<=425px) {
  .container {
    width: 100vw;
    border-right: 0px solid var(--OffWhite);
    z-index: 100;
  }

  .container-hidden {
    transform: translateX(-100%);
  }

  .container-show {
    transform: translateX(0px);
  }
}
