.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  padding: 40px;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--OffWhite);
  width: 60%;
  max-width: 500px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (width<=768px) {
  .container {
    padding: 20px;
  }
  .content-wrapper {
    width: 100%;
    border: 0px;
  }
}
