:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --Black: #253748;
  --Gray: #6f8294;
  --Blue: #004fff;
  --DarkBlue: #003abb;
  --Red: #d92020;
  --DarkRed: #bb1c1c;
  --OffBlue: #ebf0ff;
  --OffWhite: #e6eaed;
  --OffWhite40: #f5f7f8;
  --OffWhite60: #eff2f4;
  --OffWhite80: #ebeef1;
  --Green: #29ab5d;
  --DarkGreen: #259451;
  --toastify-color-error: var(--Red) !important;
  --toastify-icon-color-error: var(--Red) !important;
  --toastify-color-progress-error: var(--Red) !important;
  --toastify-icon-color-success: var(--Green) !important;
  --toastify-color-progress-success: var(--Green) !important;
  --toastify-icon-color-info: var(--Blue) !important;
  --toastify-color-progress-info: var(--Blue) !important;
  --toastify-color-progress-bgo: 0.5 !important;
}

h1 {
  color: var(--Black);
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0px;
  padding: 0px;
}
h2 {
  color: var(--Black);
  font-size: 16px;
  font-weight: 500;
  padding: 0px;
}
h4 {
  color: var(--Black);
  font-size: 13px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}
/* div{
  display: -webkit-box;
} */

a {
  font-weight: 500;
  color: var(--Blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--DarkBlue);
}

body,
html {
  margin: 0px;
  display: block;
  padding: 0px;
  min-width: 100%;
  min-height: 100%;
  background: white;
  color: var(--Black);
}
div {
  box-sizing: border-box !important;
}
.ant-btn {
  color: white;
  font-size: 14px;
  font-weight: 400;
  height: 34px;
  display: flex;
  align-items: center;
}
.ant-btn-primary.ant-btn {
  background: var(--Blue);
}

.ant-btn-primary.ant-btn:hover {
  background: var(--DarkBlue) !important;
}

.ant-btn-background-ghost.link-button {
  padding: 0px !important;
  color: var(--Blue);
  font-size: 14px;
  font-weight: 500;
  border: 0px !important;
}

.ant-btn-background-ghost.link-button:hover,
.ant-btn-background-ghost.link-button:focus,
.ant-btn-background-ghost.link-button:focus-visible,
.ant-btn-background-ghost.link-button:active {
  padding: 0px !important;
  color: var(--DarkBlue) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  border: 0px !important;
  box-shadow: unset !important;
}
.ant-btn-primary.ant-btn-dangerous {
  background: var(--Red) !important;
}
.ant-btn-primary.ant-btn-dangerous:hover,
.ant-btn-primary.ant-btn-dangerous:focus,
.ant-btn-primary.ant-btn-dangerous:focus-visible,
.ant-btn-primary.ant-btn-dangerous:active {
  background: var(--DarkRed) !important;
}

.ant-btn-primary.ant-btn[disabled] {
  background: var(--Gray) !important;
  color: white !important;
}

.ant-btn-sm.ant-btn-icon-only.ant-btn-round.danger-icon-button {
  padding: 0px !important;
  height: 34px !important;
  width: 34px !important;
  border-radius: 34px !important;
  background: transparent !important;
  border: 1px solid var(--Red) !important;
  color: var(--Red) !important;
}
.ant-btn-sm.ant-btn-icon-only.ant-btn-round.danger-icon-button:hover {
  background: var(--Red) !important;
  color: white !important;
}

.ant-btn-sm.ant-btn-icon-only.ant-btn-round.normal-icon-button {
  padding: 0px !important;
  height: 34px !important;
  width: 34px !important;
  border-radius: 34px !important;
  background: transparent !important;
  border: 1px solid var(--Blue) !important;
  color: var(--Blue) !important;
}
.ant-btn-sm.ant-btn-icon-only.ant-btn-round.normal-icon-button:hover {
  background: var(--Blue) !important;
  color: white !important;
}

.ant-btn.ant-btn-default {
  color: var(--Gray) !important;
  border: 1px solid var(--Gray) !important;
}

.ant-btn.ant-btn-default:hover {
  color: var(--Blue) !important;
  border: 1px solid var(--Blue) !important;
}

.ant-modal-footer {
  display: flex;
  justify-content: flex-end;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ant-typography-collapse,
.ant-typography-expand {
  color: var(--Blue) !important;
}
.ant-typography-collapse:hover,
.ant-typography-expand:hover {
  color: var(--DarkBlue) !important;
}
p {
  margin: 0px;
}

.Toastify__toast-body > div:last-child {
  color: var(--Black) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.secondary-text {
  font-size: 13px;
  font-weight: 400;
  color: var(--Gray);
}

.description-text {
  font-size: 13px;
  font-weight: 500;
  color: var(--Black);
  margin: 10px 0px;
}

.ant-select {
  height: 36px !important;
}

.ant-select .ant-select-selector {
  border: 1px solid var(--OffWhite) !important;
  color: var(--Black) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  height: 36px !important;
  box-shadow: unset !important;
}

.ant-select .ant-select-selector:hover {
  border: 1px solid var(--Blue) !important;
}

.ant-select-selection-placeholder {
  color: var(--Gray) !important;
}
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-selector:focus-visible {
  border: 1px solid var(--Blue) !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}
